.env
.env.local
.env.*.local
.htaccess
.DS_Store
.vscode/
.idea/
*.log
*.tmp
*.swp
*.bak
*.sublime-project
*.sublime-workspace
composer.lock
Thumbs.db
node_modules/
vendor/
phpunit-report.xml
phpunit-report.*
phpunit.xml
phpunit.xml.dist
